<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="../css/myCss.css" type="text/css" media="screen"/>
</head>
<body>
<div th:replace="common/top"></div>
<div id="Content">

    <div id="Catalog">
        <form action="/order/newOrder" method="post">

            <table>
                <input type="hidden" name="inputOrderInfo" value="true">
                <tr>
                    <th colspan=2>Payment Details</th>
                </tr>
                <tr>
                    <td>Card Type:</td>
                    <td>
                        <select name="cardType">
                            <option th:each="typeName : ${application.cardTypeList}" th:value="${typeName}"
                                    th:text="${typeName}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Card Number:</td>
                    <td><input type="text" name="creditCard" th:value="${_order.creditCard}"/> * Use a
                        fake
                        number!
                    </td>
                </tr>
                <tr>
                    <td>Expiry Date (MM/YYYY):</td>
                    <td><input type="text" name="expiryDate" th:value="${_order.expiryDate}"/></td>
                </tr>
                <tr>
                    <th colspan=2>Billing Address</th>
                </tr>

                <tr>
                    <td>First name:</td>
                    <td><input type="text" name="billToFirstName" th:value="${_order.billToFirstName}"/>
                    </td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td><input type="text" name="billToLastName" th:value="${_order.billToLastName}"/>
                    </td>
                </tr>
                <tr>
                    <td>Address 1:</td>
                    <td><input type="text" size="40" name="billAddress1"
                               th:value="${_order.billAddress1}"/></td>
                </tr>
                <tr>
                    <td>Address 2:</td>
                    <td><input type="text" size="40" name="billAddress2"
                               th:value="${_order.billAddress2}"/></td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td><input type="text" name="billCity" th:value="${_order.billCity}"/></td>
                </tr>
                <tr>
                    <td>State:</td>
                    <td><input type="text" size="4" name="billState" th:value="${_order.billState}"/>
                    </td>
                </tr>
                <tr>
                    <td>Zip:</td>
                    <td><input type="text" size="10" name="billZip" th:value="${_order.billZip}"/></td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td><input type="text" size="15" name="billCountry"
                               th:value="${_order.billCountry}"/></td>
                </tr>

                <tr>
                    <td colspan=2>
                        <input type="checkbox" name="shippingAddressRequired"/>
                        Ship to different address...
                    </td>
                </tr>
            </table>

            <fieldset disabled class="shippingAddress">
                <table>
                    <tr>
                        <th colspan=2>Shipping Address</th>
                    </tr>

                    <tr>
                        <td>First name:</td>
                        <td><input type="text" name="shipToFirstName" /></td>
                    </tr>
                    <tr>
                        <td>Last name:</td>
                        <td><input type="text" name="shipToLastName" /></td>
                    </tr>
                    <tr>
                        <td>Address 1:</td>
                        <td><input type="text" size="40" name="shipAddress1" /></td>
                    </tr>
                    <tr>
                        <td>Address 2:</td>
                        <td><input type="text" size="40" name="shipAddress2" /></td>
                    </tr>
                    <tr>
                        <td>City:</td>
                        <td><input type="text" name="shipCity" /></td>
                    </tr>
                    <tr>
                        <td>State:</td>
                        <td><input type="text" size="4" name="shipState" /></td>
                    </tr>
                    <tr>
                        <td>Zip:</td>
                        <td><input type="text" size="10" name="shipZip" /></td>
                    </tr>
                    <tr>
                        <td>Country:</td>
                        <td><input type="text" size="15" name="shipCountry" /></td>
                    </tr>
                </table>
            </fieldset>
            <input type="hidden" name="from" value="0">

            <input type="submit" name="newOrder" value="Continue"/>

        </form>
    </div>
</div>
<div th:replace="common/bottom"></div>
<!--import order.js-->
<script src="../js/order.js"></script>
</body>
</html>