<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="../css/myCss.css" type="text/css" media="screen"/>
</head>
<body>
<div th:replace="common/top"></div>
<div id="Content">

    <div id="BackLink"><a href="main">
        Return to Main Menu</a></div>

    <div id="Catalog">

        <table>
            <tr>
                <th align="center" colspan="2">Order <span th:text="'#'+${session.order.orderId}">#${session.order.orderId}</span>>
                    <span th:text="${#dates.format(session.order.orderDate)}"></span></th>
            </tr>
            <tr>
                <th colspan="2">Payment Details</th>
            </tr>
            <tr>
                <td>Card Type:</td>
                <td th:text="${session.order.cardType}"></td>
            </tr>
            <tr>
                <td>Card Number:</td>
                <td th:text="${session.order.creditCard}"> * Fake
                    number!
                </td>
            </tr>
            <tr>
                <td>Expiry Date (MM/YYYY):</td>
                <td th:text="${session.order.expiryDate}"></td>
            </tr>
            <tr>
                <th colspan="2">Billing Address</th>
            </tr>
            <tr>
                <td>First name:</td>
                <td th:text="${session.order.billToFirstName}"></td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td th:text="${session.order.billToLastName}"></td>
            </tr>
            <tr>
                <td>Address 1:</td>
                <td th:text="${session.order.billAddress1}"></td>
            </tr>
            <tr>
                <td>Address 2:</td>
                <td th:text="${session.order.billAddress2}"></td>
            </tr>
            <tr>
                <td>City:</td>
                <td th:text="${session.order.billCity}"></td>
            </tr>
            <tr>
                <td>State:</td>
                <td th:text="${session.order.billState}"></td>
            </tr>
            <tr>
                <td>Zip:</td>
                <td th:text="${session.order.billZip}"></td>
            </tr>
            <tr>
                <td>Country:</td>
                <td th:text="${session.order.billCountry}"></td>
            </tr>
            <tr>
                <th colspan="2">Shipping Address</th>
            </tr>
            <tr>
                <td>First name:</td>
                <td th:text="${session.order.shipToFirstName}"></td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td th:text="${session.order.shipToLastName}"></td>
            </tr>
            <tr>
                <td>Address 1:</td>
                <td th:text="${session.order.shipAddress1}"></td>
            </tr>
            <tr>
                <td>Address 2:</td>
                <td th:text="${session.order.shipAddress2}"></td>
            </tr>
            <tr>
                <td>City:</td>
                <td th:text="${session.order.shipCity}"></td>
            </tr>
            <tr>
                <td>State:</td>
                <td th:text="${session.order.shipState}"></td>
            </tr>
            <tr>
                <td>Zip:</td>
                <td th:text="${session.order.shipZip}"></td>
            </tr>
            <tr>
                <td>Country:</td>
                <td th:text="${session.order.shipCountry}"></td>
            </tr>
            <tr>
                <td>Courier:</td>
                <td th:text="${session.order.courier}"></td>
            </tr>
            <tr>
                <td colspan="2">Status: <span th:text="${session.order.status}"></span></td>
            </tr>
            <tr>
                <td colspan="2">
                    <table>
                        <tr>
                            <th>Item ID</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total Cost</th>
                        </tr>
                        <tr th:each="lineItem:${session.order.lineItems}">
                            <td>
                                <a th:href="@{/catalog/viewItem(itemId=${lineItem.item.itemId})}"
                                   th:text="${lineItem.item.itemId}"></a>
                            </td>
                            <td>
                                <span th:if="${lineItem.item != null}"
                                      th:text="${#objects.nullSafe(lineItem.item.attribute1, ' ')}+
                                                ${#objects.nullSafe(lineItem.item.attribute2, ' ')}+
                                                ${#objects.nullSafe(lineItem.item.attribute3, ' ')}+
                                                ${#objects.nullSafe(lineItem.item.attribute4, ' ')}+
                                                ${#objects.nullSafe(lineItem.item.attribute5, ' ')}+
                                                ${#objects.nullSafe(lineItem.item.product.name, ' ')}">

                                </span>
                                <span th:if="${lineItem.item == null}" th:text="description unavailable"></span>
                            </td>
                            <td th:text="${lineItem.quantity}"></td>
                            <td th:text="'$' + ${#numbers.formatDecimal(lineItem.unitPrice, 1, 'COMMA', 2, 'POINT')}"></td>
                            <td th:text="'$' + ${#numbers.formatDecimal(lineItem.total, 1, 'COMMA', 2, 'POINT')}"></td>
                        </tr>
                        <tr>
                            <th colspan="5">Total:
                                <span th:text="'$' + ${#numbers.formatDecimal(session.order.totalPrice, 1, 'COMMA', 2, 'POINT')}"></span>
                            </th>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>

    </div>
</div>
<div th:replace="common/bottom"></div>
</body>
</html>