<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="../css/myCss.css" type="text/css" media="screen"/>
</head>
<body>
<div th:replace="common/top"></div>
<div id="Content">
    <div id="Catalog">
        <form action="/account/editAccount" method="post">

            <h3>User Information</h3>

            <table>
                <tr>
                    <td>User ID:</td>
                    <td th:text="${session.account.username}">${sessionScope.account.username}</td>
                </tr>
                <tr>
                    <td>New password:</td>
                    <td><input type="text" name="password"/></td>
                </tr>
                <tr>
                    <td>Repeat password:</td>
                    <td><input type="text" name="repeatedPassword"/></td>
                </tr>
            </table>
            <div th:replace="~{account/includeAccounrFields::includeAccountFields}"></div>

            <input type="submit" name="editAccount" value="Save Account Information"/>
        </form>
        <a href="https://gitee.com/oauth/authorize?client_id=58cc8ced7d5f3086d01f5f0ff0f9bea53e79aacd7e8078f1e6fc05ddb40d04ee&redirect_uri=http://127.0.0.1/account/giteeLoginCallback&response_type=code&scope=user_info">
            Gitee OAuth
        </a>
        <br>
        <a href="/order/list">My Orders</a>
    </div>
</div>
<div id="dialog" style="display: none">
    <p th:text="${msg}"></p>
</div>
<script>
    if ($('#dialog p').html() !== '') {
        $('#dialog').dialog({
            autoOpen: false,
            modal: true,
            buttons: {
                Ok: function () {
                    $(this).dialog('close');
                }
            }
        });
        $('#dialog').dialog('open');
    }
</script>
<div th:replace="common/bottom"></div>
</body>
</html>