<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="../css/myCss.css" type="text/css" media="screen"/>
</head>
<body>
<div th:replace="common/top"></div>
<div id="Content">
    <div id="Catalog">
        <form action="/account/signon" method="post">
            <div class="login">
                <h2>Login</h2>
                <div class="loginBox">
                    <input type="text" name="username" value="j2ee" required/><label>Username</label>
                </div>
                <div class="loginBox">
                    <input type="password" name="password" value="j2ee" required/><label>Password</label></div>
                <div class="loginBox">
                    <input type="text" name="captchaCode" required><label>CaptchaCode</label><img src="image.jpg">
                </div>
                <font color="red">${msg}</font><br>
                <input type="submit" name="signon" value="Login" class="loginButton"/>
            </div>
        </form>
        Need a user name and password? <a href="/account/registerForm">Register Now!</a>
    </div>

</div>
<div th:replace="common/bottom"></div>
</body>
</html>