<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="../css/myCss.css" type="text/css" media="screen"/>
</head>
<body>
<div th:replace="common/top"></div>
<div id="Content">
    <div id="Catalog">
        <form action="/account/signon" method="post">
            <div class="login">
                <h2>Login</h2>
                <div class="loginBox">
                    <input type="text" name="username" value="j2ee" required/><label>Username</label>
                </div>
                <div class="loginBox">
                    <input type="password" name="password" value="j2ee" required/><label>Password</label></div>
                <div class="loginBox">
                    <input type="text" name="captchaCode" required><label>CaptchaCode</label><img th:src="${path}">
                </div>
                <font color="red" th:text="${msg}">${msg}</font><br>
                <!--            img tag of gitee icon for oauth-->
                <a href="https://gitee.com/oauth/authorize?client_id=58cc8ced7d5f3086d01f5f0ff0f9bea53e79aacd7e8078f1e6fc05ddb40d04ee&redirect_uri=http://127.0.0.1/account/giteeLoginCallback&response_type=code&scope=user_info">
                    <svg width="1rem" height="1rem" xmlns="http://www.w3.org/2000/svg" name="zi_tmGitee"
                         viewBox="0 0 2000 2000">
                        <path d="M898 1992q183 0 344-69.5t283-191.5q122-122 191.5-283t69.5-344q0-183-69.5-344T1525 477q-122-122-283-191.5T898 216q-184 0-345 69.5T270 477Q148 599 78.5 760T9 1104q0 183 69.5 344T270 1731q122 122 283 191.5t345 69.5zm199-400H448q-17 0-30.5-14t-13.5-30V932q0-89 43.5-163.5T565 649q74-45 166-45h616q17 0 30.5 14t13.5 31v111q0 16-13.5 30t-30.5 14H731q-54 0-93.5 39.5T598 937v422q0 17 14 30.5t30 13.5h416q55 0 94.5-39.5t39.5-93.5v-22q0-17-14-30.5t-31-13.5H842q-17 0-30.5-14t-13.5-31v-111q0-16 13.5-30t30.5-14h505q17 0 30.5 14t13.5 30v250q0 121-86.5 207.5T1097 1592z"/>
                    </svg>
                </a>
                <input type="submit" name="signon" value="Login" class="loginButton"/>
            </div>
        </form>
        Need a username and password? <a href="/account/registerForm">Register Now!</a>
    </div>

</div>
<div th:replace="common/bottom"></div>
</body>
</html>