<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.mypetstore.persistence.CartMapper">
    <insert id="createCart" parameterType="string">
        INSERT INTO CART (USERID)
        VALUES (#{username})
    </insert>
    <update id="updateCart">
        UPDATE CART
        SET DATA = #{cartBinaryData}
        WHERE USERID = #{username}
    </update>
    <select id="getCart" parameterType="string" resultType="map">
        SELECT DATA
        FROM CART
        WHERE USERID = #{username}
    </select>
</mapper>