<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.mypetstore.persistence.CategoryMapper">
    <select id="getCategory" parameterType="string" resultType="Category">
        SELECT catid AS categoryId, name, descn AS description
        FROM category
        WHERE catid = #{categoryId}
    </select>
    <select id="getAllCategories" resultType="Category">
        SELECT catid AS categoryId, name, descn AS description
        FROM category
    </select>
    <insert id="insertCategory" parameterType="Category">
        INSERT INTO category (catid, name)
        VALUES (#{categoryId}, #{name})
    </insert>
    <delete id="deleteCategory" parameterType="string">
        DELETE
        FROM category
        WHERE catid = #{categoryId}
    </delete>
</mapper>